button
{
    background-color: aqua;
    color: black;

}
#para1
{
    background-color: brown;
}
#para2
{
    background-color: aquamarine;
}
.content
{
    color: brown;
    background-color: greenyellow;
}
